/* Commun */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.box {
  background: url("../img/background.png") no-repeat center center/cover;
  min-height: 100vh;
  color: var(--Light);
}
/* Variables */
:root {
  --Dark: #010101;
  --pink: #e843c3;
  --pinkLight: #f8afe8;
  --Light: #f6f6f6;
}
/* RESPONSIVE CONTENT */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* NOT SUPPORTED DEVICES */
@media (max-width: 250px) {
  .box {
    display: none;
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body {
  background: url("../images/products-Backgrnd.png") no-repeat fixed center
    center/cover;
  color: var(--Light);
  min-height: 320vh;
}
.list a {
  color: var(--Light);
}
/* cartetiere */
.cartiere-solo {
  transform: translateY(80px);

  width: 100%;
  height: auto;
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
  color: var(--Dark);
}

.car-banner {
  width: 100%;
}
.car-para {
  margin: 100px;
  line-height: 1.8rem;
  font-size: 20px;
  width: fit-content;
  color: var(--Light);
  font-weight: 700;
}
.cr-prd {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translateY(300px);
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -ms-transform: translateY(300px);
  -o-transform: translateY(300px);
}
.cr-prd div {
  margin: 20px 0px;
}
.cr-prd-1 {
  border: 2px solid #797979;
  width: 595px;
  border-radius: 15px;
  height: 600px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  text-align: center;
  background-color: var(--Light);
}
.carterieModel {
  border-bottom: 2px solid #797979;
  width: 590px;
  height: 300px;
  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  -ms-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
}
.cr-prd-1 p {
  margin: 20px;
  text-align: left;
  margin-left: 90px;
}

.price {
  color: #333;
  font-weight: 700;
}
.pap-prd {
  transform: translateY(600px);
  -webkit-transform: translateY(600px);
  -moz-transform: translateY(600px);
  -ms-transform: translateY(600px);
  -o-transform: translateY(600px);
}

.emb-ct {
  transform: translatey(1000px);
  -webkit-transform: translatey(1000px);
  -moz-transform: translatey(1000px);
  -ms-transform: translatey(1000px);
  -o-transform: translatey(1000px);
}

.pub-para {
  transform: translate(150px, -50px);
  -webkit-transform: translate(150px, -50px);
  -moz-transform: translate(150px, -50px);
  -ms-transform: translate(150px, -50px);
  -o-transform: translate(150px, -50px);
}
.nvpb {
  line-height: 1.8rem;
}
.pb-prd {
  transform: translateY(1240px);
  -webkit-transform: translateY(1240px);
  -moz-transform: translateY(1240px);
  -ms-transform: translateY(1240px);
  -o-transform: translateY(1240px);
}

@media (max-width: 636px) {
  .cr-prd-1 {
    width: 410px;
  }
  .cr-prd-1 img {
    width: 400px;
    height: 200px;
  }
}
@media (max-width: 460px) {
  .cr-prd-1 {
    width: 310px;
  }
  .cr-prd-1 img {
    width: 200px;
    height: 100px;
  }
  .cr-prd-1 h1,
  .cr-prd-1 p {
    font-size: 18px;
    line-height: 1.2rem;
  }
  .cr-prd-1 h1 {
    font-size: 20px;
  }
}

.fail {
  display: none;
  align-content: center;
  justify-content: center;
  height: 100vh;
  color: var(--Dark);
}
@media (max-width: 300px) {
  .prd-box {
    display: none;
  }
  .fail {
    display: flex;
  }
}

@media (max-width: 508px) {
  .list-items {
    display: none;
  }
}
